.itemplace{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    &:hover{
        margin-top: -2px;
        box-shadow: 2px 2px rgb(211, 211, 211);
    }
    img{
        width: 100%;
        max-height: 250px;
        border-radius: 6px;
        object-fit: cover;
    }
    p{
        position: absolute;
        color: white;
        left: 10px;
        bottom: -5px;
        font-size: 25px;
        font-weight: 700;
    }
}