.itemArticles{
    border: rgb(211, 211, 211) 1px solid;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        margin-top: -2px;
        box-shadow: 2px 2px rgb(211, 211, 211);
    }
    .imgage{
        width: 100%;
        max-height: 400px;
        border-radius: 4px;
        object-fit: cover;
    }
    .time{
        font-size: 12px;
        font-weight: 700;
    }
    .title{
        font-size: 17px;
    }
    .description{
        font-size: 14px;
    }
    .more{
        text-decoration: none;
        color: rgb(87, 87, 87);
    }
}
